@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F7F8FA;
  color: #0F172A;
}

/* Ocultar la barra gris de scroll en el sidebar */
aside, aside * {
  -ms-overflow-style: none;  /* Oculta en Internet Explorer y Edge */
  scrollbar-width: none;     /* Oculta en Firefox */
}

aside::-webkit-scrollbar, aside *::-webkit-scrollbar {
  display: none;             /* Oculta en Chrome, Safari y el resto */
}
